*{
    background: turquoise;
}

h1 {
<<<<<<< HEAD
<<<<<<< HEAD
    color: violet;
=======
    color: violet;
>>>>>>> a7acab8 (Cambiar color h1)
=======
    color: violet;
>>>>>>> a7acab8 (Cambiar color h1)
}